# dependencies
node_modules/

# Expo
.expo/
.expo-shared/
dist/
web-build/
expo-env.d.ts

# Native build folders (Expo prebuild)
ios/
android/

# Environment variables
.env
.env.*
!.env.example

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

# Native keys / certificates
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# TypeScript
*.tsbuildinfo

# Misc
app-example
.kotlin/
*.orig.*